<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="assets/img/logo.svg" alt="">
            <p class="header__title">Отдел продаж</p>
        </div>
        <div class="header__menu">
            <a href="" class="header__link">Каталог объектов</a>
            <a href="" class="header__link">Блог</a>
            <a href="" class="header__link">Команда</a>
            <a href="" class="header__link">FAQ</a>
            <a href="" class="header__link">Контакты</a>
        </div>
        <div class="header__menu--mobile js__button-menu">
            <i>
                <img src="assets/img/icons/menu.svg" alt="">
            </i>
        </div>
        <div class="header__contacts">
            <i class="header__icon">
                <img src="assets/img/icons/phone.svg" alt="">
            </i>
            <a href="tel:84956599988" class="header__phone">+7 (495) 659-99-88</a>
            <button class="button header__button js__button">Заказать звонок</button>
        </div>
    </div>
    <div class="mobile-menu js__menu" style="display: none;">
        <div class="mobile-menu__content">
            <div class="mobile-menu__header">
                <p class="mobile-menu__text">Меню</p>
                <div class="mobile-menu__close js__close-menu">
                    <img src="assets/img/icons/close.svg" alt="">
                </div>
            </div>
            <div class="mobile-menu__body">
                <a href="" class="mobile-menu__link">Каталог объектов</a>
                <a href="" class="mobile-menu__link">Блог</a>
                <a href="" class="mobile-menu__link">Команда</a>
                <a href="" class="mobile-menu__link">FAQ</a>
                <a href="" class="mobile-menu__link">Контакты</a>
            </div>
            <button class="mobile-menu__button js__button">Оставить заявку</button>
        </div>
    </div>
</header>
