{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    <section class="main">
        <div class="main__container">
            <div class="main__info">
                <h1 class="main__title">Искусство обращения <br>
                    с недвижимостью</h1>
                <p class="main__subtitle">Недвижимость – это то, чем мы живём и то, что <br>
                    заставляет нас двигаться вперёд. Отвечаем за <br>
                    результат с 2015 года</p>
                <button class="main__button">Получить планировки и цены</button>
            </div>
        </div>
    </section>
    <section class="image"></section>
    <section class="sales">
        <div class="sales__container">
            <div class="sales__header">
                <h2 class="sales__title">АН “Отдел продаж” - 15 лет <br class="hidden">
                    на рынке Сочи</h2>
                <p class="sales__subtitle">
                    Более 15 лет наши специалисты в области недвижимости <br class="hidden"> и права помогают покупать квартиры максимально
                    <br class="hidden"> безопасно и дешево
                </p>
            </div>
            <div class="sales__content">
                <div class="sales__item item">
                    <p class="item__title"><span class="item__number">16 </span>домов</p>
                    <p class="item__text">Полностью заселены всеми довольными клиентами</p>
                </div>
                <div class="sales__item item">
                    <p class="item__title"><span class="item__number">3000 </span>клиентов</p>
                    <p class="item__text">Уже обратились к нам и поселились в своих квартирах</p>
                </div>
                <div class="sales__item item">
                    <p class="item__title"><span class="item__number">2000 </span>человек</p>
                    <p class="item__text">Переедут в Сочи благодаря нашим услугам и так далее</p>
                </div>
                <div class="sales__item item">
                    <p class="item__title"><span class="item__number">350+ </span>сделок</p>
                    <p class="item__text">Каждый день по всему Сочи</p>
                </div>
            </div>
        </div>
    </section>
    <section class="form">
        <div class="form__container">
            <div class="form__wrapper">
                <h2 class="form__title">Получите выгодное <br>
                    предложение!</h2>
                <p class="form__text">Ещё год назад цены на недвижимость <br> были ниже на 34%. <br>
                    Лучшее время для покупки квартиры - <br> "прошлой зимой".
                </p>
                <form class="form__action" action="">
                    <input class="form__input" type="tel" required placeholder="+7 (___) ___ - __ - __" />
                    <button class="form__button" type="submit">Оставить заявку</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="merits">
            <div class="merits__container">
                <h2 class="merits__title">Наши заслуги</h2>
                <div class="merits__content">
                    <div class="merits__item item">
                        <h4 class="item__title">Выгодная ставка от 6,5% на покупку коммерческой недвижимости</h4>
                        <p class="item__text">Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.</p>
                        <div class="item__bottom">
                            <span class="item__date">24.05.2022</span>
                            <a href="" class="item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="merits__item item">
                        <h4 class="item__title">Выгодная ставка от 6,5% на покупку коммерческой недвижимости</h4>
                        <p class="item__text">Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.</p>
                        <div class="item__bottom">
                            <span class="item__date">24.05.2022</span>
                            <a href="" class="item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="merits__item item">
                        <h4 class="item__title">Выгодная ставка от 6,5% на покупку коммерческой недвижимости</h4>
                        <p class="item__text">Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.</p>
                        <div class="item__bottom">
                            <span class="item__date">24.05.2022</span>
                            <a href="" class="item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="merits__item item">
                        <h4 class="item__title">Выгодная ставка от 6,5% на покупку коммерческой недвижимости</h4>
                        <p class="item__text">Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.</p>
                        <div class="item__bottom">
                            <span class="item__date">24.05.2022</span>
                            <a href="" class="item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="merits__item item">
                        <h4 class="item__title">Выгодная ставка от 6,5% на покупку коммерческой недвижимости</h4>
                        <p class="item__text">Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.</p>
                        <div class="item__bottom">
                            <span class="item__date">24.05.2022</span>
                            <a href="" class="item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="merits__item item">
                        <h4 class="item__title">Выгодная ставка от 6,5% на покупку коммерческой недвижимости</h4>
                        <p class="item__text">Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.</p>
                        <div class="item__bottom">
                            <span class="item__date">24.05.2022</span>
                            <a href="" class="item__link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="action">
        <a href="/" class="action__content">
            <img src="assets/img/photo.png" alt="">
            <div class="action__info">
                <h3 class="action__title">Акция! • Cкидка до 20%</h3>
                <p class="action__text">Узнать подробнее о предложении?</p>
            </div>
        </a>
    </div>

    <a href="/" class="call">
        <i class="call__phone">
            <img src="assets/img/icons/phone_white.svg" alt="">
        </i>
    </a>

    <div class="modal js__modal" style="display: none;">
        <div class="modal__body">
            <div class="modal__close js__close">
                <img src="assets/img/icons/close_blue.svg" alt="">
            </div>
            <div class="modal__content">
                <h3 class="modal__title">Форма обратной связи</h3>
                <p class="modal__text">Заполните форму и получите выгодное решение</p>
                <form action="" class="modal__form">
                    <div class="modal__field">
                        <label class="modal__label">Ваше Имя</label>
                        <input class="modal__input" required type="text" />
                    </div>
                    <div class="modal__field">
                        <label class="modal__label">Номер телефона</label>
                        <input class="modal__input" type="tel" required placeholder="+7 (___) ___ - __ - __" />
                    </div>
                    <div class="modal__field">
                        <label class="modal__label">Опишите свою ситуацию</label>
                        <textarea class="modal__area" required></textarea>
                    </div>
                    <div class="modal__bottom">
                        <div class="modal__check-group">
                            <label class="modal__check">Я прочитал и согласен с политикой конфиденциальности
                                <input class="modal__checkbox" type="checkbox" checked="checked">
                                <span class="modal__checkmark"></span>
                            </label>
                        </div>
                        <button class="modal__button">Оставить заявку</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
